.introsymbol {
  width: 20%;
  height: 20%;
  height: 20%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;  
  border: 2px solid black;
  border-radius: 6px; 
  }   

.IntroText{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 100%;
  margin-top : 5%;
  margin-left: 5%;
  border-width: 1px;
}


.center {
  text-align: center; 
}

.translate {
  margin-top: 1%;
}

.title {
  font-size: 200%;
}

.text {
  font-size: 150%;  
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}


.symbolframe {
  width:  75%;
  height: 75%;
  padding: 0.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;  
}

.introbandits {
  width: 60%;
  height: 60%;
  height: 60%;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;  
  }






