.introsymbol {
  width: 10%;
  height: 10%;
  height: 10%;
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;  
  border: 2px solid black;
  border-radius: 6px; 
  }   

.InstructText{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 60%;
  margin-top : 3%;
  margin-left: 3%;
  border-width: 1px;
}

.textbox{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 60%;
  margin-top : 3%;
<<<<<<< HEAD
  margin-left: 5%;
=======
  margin-left: 3%;
>>>>>>> test
  border-width: 1px;
}

.buttonInstructions{
  width: 10%;
  height: 10%;
  margin: 0 auto;
  border-radius: 3px;
  font-weight:bold; 

}

.buttonInstructionsHidden{
  width: 10%;
  height: 10%;
  margin: 0 auto;
  border-radius: 3px;
  font-weight:bold; 
}

.buttonInstructionStart{
  width: 30%;
  height: 20%;
  margin: 0 auto;
  border-radius: 3px;

}


.center {
  text-align: center; 
}

.translate {
  margin-top: 1%;
}

.title {
  font-size: 200%;
}

.text {
  font-size: 150%;  
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}


.symbolframe {
  width:  75%;
  height: 75%;
  padding: 0.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;  
}

.introbandits {
  width: 120%;
  height: 60%;
  height: 60%;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3px;
  margin-bottom: 2px; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;  
  }


.bold { font-weight: bold; }
.red { color: #FF0000; }
.blue { color: #326699; }






