.IntroConsentText{
  font: "Century Gothic", Futura, sans-serif;
  font-size  : 120%;
  margin-top : 5%;
  margin-left: 5%;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  width:  20px;
  height: 20px; 
  margin-left: 150%;
  vertical-align: middle;
  background: white left top no-repeat;
  border: 2px solid black;
  cursor: pointer;
  padding: 10px; 
}


.bold { font-weight: bold; }


/*input[type="checkbox"]:checked + span {
  background: salmon top no-repeat;
  border: 2px solid black;
  margin-top: 5%;
  margin-left: 150%;
  transition: all 150ms;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}*/

input[type="checkbox"]:checked + span {
  background: salmon top;
  margin-top: 5%;
  margin-left: 150%;
  stroke: white;
  stroke-width: 2px;
  padding: 10px; 
}


