.symbol {
  width: 30vh;
  height: 30vh;
  margin-right:2%;
  margin-top: -8%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;    
  border: 1vh solid black;
  border-radius: 1vh;     
}

.square {
  width: 30vh;
  padding: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
  margin-bottom: 5vh; 
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;    
  border: 1vh solid black;
  border-radius: 1vh;    
  font: 16vh "Century Gothic", Futura, sans-serif;
  color: black;
  text-align: center;
  vertical-align: middle;

}

.activate{
  animation: fadeIn 2s;
}

.reset {
  animation: fadeOut .5s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
}

.selected{
  border: 1vh solid green;
  border-radius: 1vh;
}

.feedback {
  width: 90px;
  height: 90px;
  margin-top:20px;    
  transition-delay: .0s;
}

.feedbacknull {
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);  
    opacity: 1;  
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}